#main {
    margin: 180px 100px;
    padding: 50px;
    background-color: #eee;
    border-radius: 25px;
    box-shadow: 5px 5px 10px gray;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
}
.nav-items {
    list-style: none;
    display: flex;
}

.nav-items > li {
    padding: 10px;
}

.logo {
    width: 100px;
}